@(paymentForm: Form[CreatePaymentForm], orderIds: Seq[String])(implicit request: MessagesRequestHeader, flash: Flash)
@import helper._

@main("Create payment") {
    @flash.get("success").getOrElse("")

    @form(routes.PaymentController.createHandler()) {

        <h3>Create payment</h3>

        <div>
            <label><b>Order</b></label><br/>
            <select name="orderId">
            @for(orderId <- orderIds) {
                <option value="@orderId" name="orderId">@orderId</option>
            }
            </select>
        </div>

        @inputText(paymentForm("methodCode"), '_label -> "Method Code")

        @inputText(paymentForm("amountOfMoney"), '_label -> "Amount of money")

        <div class="buttons" style="margin-top: 10px">
            <input type="submit" value="Create Payment"/>
        </div>
    }
}