@(paymentForm: Form[UpdatePaymentForm])(implicit request: MessagesRequestHeader, flash: Flash)
@import helper._

@main("Update payment") {
  @flash.get("success").getOrElse("")

  @form(routes.PaymentController.updateHandler()) {

    <h3><b>Payment to update: </b> @paymentForm("id").value</h3>

    <input name="id" value="@paymentForm("id").value" hidden />
    <input name="orderId" value="@paymentForm("orderId").value" hidden />
    <input name="dateCreated" value="@paymentForm("dateCreated").value" hidden />

    <div>
      <p>
        <b>For order: </b> @paymentForm("orderId").value
      </p>
    </div>

    <div>
      <p>
        <b>Date Created: </b> @paymentForm("dateCreated").value
      </p>
    </div>


    @inputText(paymentForm("methodCode"), '_label -> "Method Code")
    @inputText(paymentForm("amountOfMoney"), '_label -> "Amount of money")

    <div class="buttons" style="margin-top: 10px">
      <input type="submit" value="Update Payment"/>
    </div>
  }
}