@(wishlistItemForm: Form[CreateWishlistItemForm], users: Seq[UserPreview], products: Seq[ProductPreview])(implicit request: MessagesRequestHeader, flash: Flash)
@import helper._

@main("Create wishlist item") {
    @flash.get("success").getOrElse("")

    @form(routes.WishlistController.createHandler()) {

        <h3>Create wishlist item</h3>

        <div>
            <label><strong>User</strong></label><br/>
            <select name="userId">
            @for(user <- users) {
                <option value="@user.id">@user.email</option>
            }
            </select>
        </div>

        <div>
            <label><strong>Product</strong></label><br/>
            <select name="productId">
            @for(product <- products) {
                <option value="@product.id">@product.name</option>
            }
            </select>
        </div>

        <div class="buttons" style="margin-top: 10px">
            <input type="submit" value="Create Wishlist Item"/>
        </div>
    }
}