@(shippingInfoForm: Form[CreateShippingInfoForm], ordersIds: Seq[String])(implicit request: MessagesRequestHeader, flash: Flash)
@import helper._

@main("Create Shipping Info") {
    @flash.get("success").getOrElse("")

    <h3>Create Shipping Info</h3>
    @form(routes.ShippingController.createHandler()) {


        @inputText(shippingInfoForm("country"), '_label -> "Country")
        @inputText(shippingInfoForm("city"), '_label -> "City")
        @inputText(shippingInfoForm("address"), '_label -> "Address")
        @inputText(shippingInfoForm("zipOrPostcode"), '_label -> "Zip or postcode")

        <div>
            <label><b>Order</b></label><br/>
            <select name="orderId">
            @for(orderId <- ordersIds) {
                <option value="@orderId">@orderId</option>
            }
            </select>
        </div>

        <div class="buttons" style="margin-top: 10px">
            <input type="submit" value="Create Shipping Info"/>
        </div>
    }
}